*{text-transform: capitalize;
  

}
.div1{
    justify-content: end;
    align-items: end;
}
.div2{
  
  width: 80%;
  height: 400px;
  margin: 0%;
    padding: 0%;
    padding-left: 230px;
    padding-top: 100px;
}
.div3{
    
    width: 100%;
    height:auto ;
    margin: 0%;
    padding: 0%;
    padding-left: 100px;
}
.aa{
    font-size: 30px;
}
.abd{
    font-size: 60px;
    padding-top: 10px;
    color: #030303;
    text-shadow: 8px 1px rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
}
h1{
    margin: 0%;
    padding: 0%;
}
p{
    margin: 0%;
    padding: 0%;
}
.btn1{
    margin-top: 10px;
    width: 150px;
    height: 30px;
    background-color: #030303;
    color: white;
}
