* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  .heading {
    text-align: center;
    background-color: gray;
    color: #fff;
    padding: 20px;
    transition: background-color 0.3s ease; 
  }
  
  .heading:hover {
    background-color: #999797;
  }
  
  .main {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  

  
  .main h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
  }
  
  .inn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s ease; 
  }
  
  .inn:focus {
    border-color: gray;
  }
  
  .b {
    display: block;
    width: 49%;
    padding: 10px;
    text-align: center;
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .b:nth-child(2) {
    margin-left: 2%;
  }
  
  .b:hover {
    background-color: #999797; 
  }
  
  #profit {
    font-size: 24px;
    color: #2ecc71;
  }
  
  .bb {
    display: flex;
    animation: bounce 1s ease-in-out infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px); 
    }
  }
  